{extend name="base" /}

{block name="content"}

<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="col-sm-3">
            <a class="btn btn-sm btn-primary margin-r-5" href="javascript:;">商品分类列表</a>
            <a class="btn btn-sm btn-adn" href="{:url('cateAdd')}">添加商品分类</a>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-body no-padding">
        <table class="table table-striped" id="layer-photos-demo">
            <thead>
            <tr>
                <th width="20">#</th>
                <th width="80">分类</th>
                <th width="100">图片</th>
                <th width="80">发布时间</th>
                <th width="60">状态</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo['cate_name']}</td>
                <td> <img src="{$vo['image']}" alt="" width="40" height="40"> </td>
                <td>{:$vo['update_time']}</td>
                <td>{:\\app\\common\\model\\GoodsCategory::getPropInfo('fields_status',$vo['state'])}</td>
                <td>
                    <a class="layui-btn layui-btn-sm" href="{:url('cateAdd',['id'=>$vo['id']])}">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" onclick="$.common.waitConfirm('是否删除该条数据?','{:url("cateDel",["id"=>$vo["id"]])}')" class="ml-5">  删除</a>
                </td>
            </tr>

                {volist name="vo.link_child_cate" id="v1"}
                <tr>
                    <td>{$v1.id}</td>
                    <td>|— {$v1['cate_name']}</td>
                    <td> <img src="{$v1['image']}" alt="" width="40" height="40"> </td>
                    <td>{:$v1['update_time']}</td>
                    <td>{:\\app\\common\\model\\GoodsCategory::getPropInfo('fields_state',$v1['state'])}</td>
                    <td>
                        <a class="layui-btn layui-btn-sm" href="{:url('cateAdd',['id'=>$v1['id']])}">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" onclick="$.common.waitConfirm('是否删除该条数据?','{:url("cateDel",["id"=>$v1["id"]])}')" class="ml-5">  删除</a>
                    </td>
                </tr>
                    {volist name="v1.link_child_cate" id="v2"}
                    <tr>
                        <td>{$v2.id}</td>
                        <td>|— |__ {$v2['cate_name']}</td>
                        <td> <img src="{$v2['image']}" alt="" width="40" height="40"> </td>
                        <td>{:$v2['update_time']}</td>
                        <td>{:\\app\\common\\model\\GoodsCategory::getPropInfo('fields_state',$v2['state'])}</td>
                        <td>
                            <a class="layui-btn layui-btn-sm" href="{:url('cateAdd',['id'=>$v2['id']])}">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" onclick="$.common.waitConfirm('是否删除该条数据?','{:url("cateDel",["id"=>$v2["id"]])}')" class="ml-5">  删除</a>
                        </td>
                    </tr>
                    {/volist}
                {/volist}
            {/volist}
            </tbody>
        </table>
    </div>

    <div class="box-footer clearfix">
        {$page|raw}
    </div>
</div>
<!-- /.error-page -->
{/block}