{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}goods,goods.index/index{/block}

{block name="style"}
<style>
    .in{display: inline-block;width: 30%;margin-right:10px;}
    .add_rows{display: inline-block;width: 20px;height: 20px;text-align: center;border: 1px solid;line-height: 18px;border-radius: 50%;margin: 8px 0 15px 24px;}
    .nd{display: inline-block; width: auto;padding: 5px 12px;color: #fff;background-color: #3c8dbc;border-radius: 5px;margin-right: 5px;}
    .virtue{border-bottom: 1px solid #00c0ef;width: 95%;padding: 10px 0;font-size: 16px;}
    .ot{margin: 0 8px 0 -8px;border: 0;border-right: 1px solid #ccc;border-radius: 0;color: #ff0000;font-size: 15px;height: auto;}
    .dm{margin: 10px 0;}

    .goods-group{display: flex;flex-wrap: wrap;}
    .goods-group .item{display: inline-block;position: relative;margin-right: 5px}
    .goods-group .item i{position: absolute; top:0; size: 18px;color: white; background: red}

</style>
{/block}
{block name="content"}

<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#goods_info" data-toggle="tab" aria-expanded="true">商品信息</a></li>
            <li class=""><a href="#goods_content" data-toggle="tab" aria-expanded="false">详情介绍</a></li>
            <li class=""><a href="#goods_spec" data-toggle="tab" aria-expanded="false">规格属性</a></li>
        </ul>
    </div>
    <!-- form start -->
    <form id="form" action="" class="form-horizontal">
        <div class="box-body tab-content">
            <input type="hidden" name="id" value="{$model['id']}"/>
            <!--商品主要信息-->
            <div class="tab-pane active" id="goods_info">
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="商品名称" name="goods_name" value="{$model['goods_name']}">
                    </div>
                </div>
                <!--简介-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品简介</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="商品简介" name="goods_brief" value="{$model['goods_brief']}">
                    </div>
                </div>
                <!--分类-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">选择分类</label>
                    <div class="col-sm-10">
                        <select name="cate_id" class="form-control">
                            <option value="0">请选择分类</option>
                            {volist name="cate" id="vo"}
                            <option value="{$vo['id']}"  {:$model['cate_id']==$vo['id']?'selected':''} >{$vo['cate_name']}</option>
                                {volist name="vo['link_child_cate']" id="child"}
                                <option value="{$child['id']}"  {:$model['cate_id']==$child['id']?'selected':''} >|—— {$child['cate_name']}</option>
                                    {volist name="child['link_child_cate']" id="childs"}
                                    <option value="{$childs['id']}"  {:$model['cate_id']==$childs['id']?'selected':''} >|——|——  {$childs['cate_name']}</option>
                                    {/volist}
                                {/volist}
                            {/volist}
                        </select>
                    </div>
                </div>
                <!--主图、组图-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品图</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="goods_image" value="{$model['goods_image']}" />
                        <button type="button" class="layui-btn upload-img" lay-data='{:action('upload/info',['type'=>'goods'])}'>
                            <i class="layui-icon">&#xe67c;</i>商品图
                        </button>
                        <div class="help-block goods-group">

                            {volist name="model.image_arr" id="iv" key="k"}
                                <div class="item">
                                    <i class="fa fa-fw fa-close"></i>
                                    <img src="{$iv}" width="100" height="100">
                                    <input value="{$iv}" name="image_arr[]" type="hidden">
                                </div>
                            {/volist}
                        </div>

                    </div>
                </div>
                <!--商品价格-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品原价</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="商品原价" name="original_price" value="{$model['original_price']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品现价</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="商品现价" name="price" value="{$model['price']}">
                    </div>
                </div>
                <!--库存-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">库存</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="库存" name="stock" value="{$model['stock']}">
                    </div>
                </div>
                <!--虚拟销量-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">虚拟销量</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="虚拟销量" name="virtual_sales" value="{$model['virtual_sales']}">
                    </div>
                </div>
                <!--其他状态-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">上架</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="status" value="1" {:$model['status']==1?'checked':''} />是
                        </label>
                        <label>
                            <input type="radio" name="status" value="2" {:$model['status']==2 || !$model['status'] ?'checked':''}>否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否热卖</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="is_hot" value="1" {:$model['is_hot']==1?'checked':''} />是
                        </label>
                        <label>
                            <input type="radio" name="is_hot" value="2" {:$model['is_hot']==2 || !$model['is_hot']?'checked':''}>否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否精品</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="is_best" value="1" {:$model['is_best']==1?'checked':''} />是
                        </label>
                        <label>
                            <input type="radio" name="is_best" value="2" {:$model['is_best']==2 || !$model['is_best']?'checked':''}>否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否特价</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="is_special" value="1" {:$model['is_special']==1?'checked':''} />是
                        </label>
                        <label>
                            <input type="radio" name="is_special" value="2" {:$model['is_special']==2 || !$model['is_special']?'checked':''}>否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否免运费</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" onclick="isShip(1);" name="is_ship" value="1" {:$model['is_ship']==1?'checked':''} />是
                        </label>
                        <label>
                            <input type="radio" onclick="isShip(0);" name="is_ship" value="0" {:$model['is_ship']==0?'checked':''}>否
                        </label>
                        <label>
                            <input type="radio" onclick="isShip(2);" name="is_ship" value="2" {:$model['is_ship']==2?'checked':''}>固定运费
                        </label>
                    </div>
                </div>
                <div class="form-group" id="fares" {if condition="$model['is_ship'] neq 2"}style="display: none"{/if}>
                    <label class="col-sm-2 control-label">运费</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="运费" name="fare" value="{$model['fare']}">
                    </div>
                </div>
            </div>
            <!--商品详情、规格说明-->
            <div class="tab-pane" id="goods_content">
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品详情</label>
                    <div class="col-sm-10">
                        <!-- 加载编辑器的容器 -->
                        <script id="container" name="content" type="text/plain">{:htmlspecialchars_decode($model['content'])}</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">规格说明</label>
                    <div class="col-sm-10">
                        <!-- 加载编辑器的容器 -->
                        <script id="normBrief" name="norm_brief" type="text/plain">{:htmlspecialchars_decode($model['norm_brief'])}</script>
                    </div>
                </div>
            </div>
            <!--商品规格选择-->
            <div class="tab-pane" id="goods_spec">
                <div class="form-group">
                    <label class="col-sm-2 control-label">选择规格</label>
                    <div class="col-sm-10">
                        <select name="spec_id" class="form-control" onchange="getRule(this);">
                            <option value="0">请选择</option>
                            {volist name="spec" id="vl"}
                            <option value="{$vl['id']}" {:$model['spec_id']==$vl['id']?'selected':''}>{$vl['spec_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="form-group" id="rules">
                    {if condition="$model.own_spec_value"}
                    <label class="col-md-2 control-label">属性列表</label>
                    <div class="col-md-10">
                    {volist name="spec" id="v1"}
                        {if condition="$v1['id'] eq $model['spec_id']"}
                        {volist name="v1.link_child" id="cv1"}
                        <div class="form-group">
                            <div>
                                <label class="col-md-1">{$cv1.spec_name} </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control in" id="adv{$cv1.id}">
                                    <a href="javascript:addRow({$cv1.id});" class="add_rows">+</a>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div id="virtue{$cv1.id}" class="virtue" ref="{$cv1.id}">
                                {$cv1.spec_name}值：
                            {volist name="model.own_spec_value" id="spv" key="ks"}
                                {eq name="spv.spec_id" value="$cv1.id"}
                                        <span  class="nd" id="addr{$spv.id}">
                                            <!--<a href="javascript:closeRow({$spv.id});" class="add_rows ot">X</a>-->
                                            {$spv.value_name}
                                            <input type="hidden" class="skuname" name="value_name[{$cv1.id}][{$spv.id}]" value="{$spv.value_name}">
                                            <input type="hidden" class="skuid" name="value_id[{$cv1.id}][{$spv.id}]" value="{$spv.id}">
                                        </span>
                                {/eq}
                            {/volist}
                            </div>
                        </div>
                        {/volist}
                        <div class="form-group" id="skuVal">
                            <div class="dm">
                                <label class="col-md-2"> 属性 </label>
                                <label class="col-md-2"> 价格 </label>
                                <label class="col-md-2"> 库存 </label>
                                <div style="clear: both"></div>
                            </div>    
                            {volist name="sku" id="skv" key="sk"}
                            <div class="dm sk{$sk}" ref="{$sk}">
                                <label class="col-md-2">{$skv.name} </label>
                                <div class="col-md-6">
                                    <input type="text" name="sku[price][{$sk}]" value="{$skv.price}" class="form-control in" placeholder="价格">
                                    <input type="text" name="sku[stock][{$sk}]" value="{$skv.stock}" class="form-control in" placeholder="库存">
                                    <input type="hidden" name="sku[id][{$sk}]" value="{$skv.id}">
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            {/volist}
                        </div>
                        {/if}
                        <div class="form-group" id="skuVal_add"></div>
                    {/volist}
                    </div>
                    {else/}
                    <input type="hidden" name="value_name[]" value="0">
                    <input type="hidden" name="value_id[]" value="0">
                    <input type="hidden" name="sku[]" value="0">
                    <input type="hidden" name="new_sku[]" value="0">
                    {/if}
                </div>
            </div>
        </div>
    </form>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="button" onclick="$.common.submitForm()" class="col-sm-offset-2 btn  btn-info">保存</button>
    </div>
</div>

{/block}


{block name="script"}
<!-- 配置文件 -->
<script type="text/javascript" src="/assets/ueditor1_4_3_3/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/assets/ueditor1_4_3_3/ueditor.all.js"></script>

<script src="/assets/admin/js/arttemplate/template.js"></script>

{volist name="spec" id="val"}
<script type="text/html" id="columnTemp{$val.id}">
    <label class="col-md-2 control-label">属性列表</label>
    <div class="col-md-10">
        {volist name="val.link_child" id="cvs" key="k"}
        <div class="form-group">
            <div>
                <label class="col-md-1">{$cvs.spec_name} </label>
                <div  class="col-md-10">
                    <input type="text" class="form-control in" id="adv{$cvs.id}" placeholder="属性值"><a href="javascript:addRow({$cvs.id});" class="add_rows">+</a>
                </div>
                <div style="clear: both"></div>
            </div>
            <div id="virtue{$cvs.id}" class="virtue" ref="{$cvs.id}">{$cvs.spec_name}值：</div>
        </div>
        {/volist}
        <div class="form-group" id="skuVal_add">
            <div class="dm">
                <label class="col-md-2"> 属性 </label>
                <label class="col-md-2"> 价格 </label>
                <label class="col-md-2"> 库存 </label>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</script>
{/volist}
<script>
    var ue1 = UE.getEditor('container');
    var ue2 = UE.getEditor('normBrief');
    //引用上传组件
    var upn = 1;
    layui.use(['upload','laydate'],function(){
        var upload = layui.upload;
        var laydate = layui.laydate;
        //$.common.fileUpload(upload,'.upload-img')
        $.common.fileUpload(upload,'.upload-img',(res,query_select)=>{
            //图片显示域名
            var preview_domain = res.hasOwnProperty('preview_domain')?res.preview_domain:'';
            var html = ' <div class="item">' +
                '<i class="fa fa-fw fa-close"></i>' +
                '<img src="'+preview_domain+res.key+'" width="100" height="100">' +
                '<input value="'+res.key+'" name="image_arr[]" type="hidden">' +
                '</div>'
            query_select.parent().find('.help-block').append(html);
        })
        //执行一个laydate实例
        laydate.render({
            elem: '.end_time' //指定元素
            ,type: 'datetime' //默认，可不填
            ,min: 1
            ,max: '2080-12-31'
        });
        laydate.render({
            elem: '.start_time' //指定元素
            ,type: 'datetime' //默认，可不填
            ,min: 1
            ,max: '2080-12-31'
        });
    })

    //删除图片
    $(".goods-group").on('click','i',function(){
        $(this).parent().remove()
    })

    function isShip(str){
        if(str == 2){
            $('#fares').show();
        }else{
            $('#fares').hide();
        }
    }
    function getRule(obj){
        var rid = $(obj).val();
        if(rid>0){
            var html = template("columnTemp"+rid, {});
            $("#rules").empty();
            $("#rules").html(html);
        }
    }
    {if condition="$model.own_spec_value"}
    var adt = {php}echo $model['own_spec_value'][count($model['own_spec_value'])-1]['id']+1;{/php};
    {else/}
    var adt = 0;
    {/if}
    //console.log(111);

    function addRow(sid){
        var sv = $('#adv'+sid).val();
        if(!sv)
            return false;
        $('#virtue'+sid).append('<span class="nd" id="addr'+adt+'" ref='+sid+'><a href="javascript:closeRow('+adt+');" class="add_rows ot">X</a>' +
            sv +'  <input type="hidden" class="skuname" name="value_name['+sid+']['+adt+']" value="'+sv+'"><input type="hidden" class="skuid" name="value_id['+sid+']['+adt+']">' +
            '            </span>');
        adt++;
        $('#adv'+sid).val('');
        var arr = [];
        arr['id'] = '';
        arr['name'] = sv;
        doSku(arr,sid);
    }
    function closeRow(k) {
        $('#addr'+k).remove();
        ni = 0;
        final_sku = '';
        final_sku_show = new Array();
        addSku();
    }
    
    var final_sku = '';
    var ni = 0;
    var final_sku_show = new Array();
    function addSku(){
        var sku = new Array();
        $('.virtue').each(function () {
            var sku_i = $(this).attr('ref');
            var ndl = $(this).find('.nd').length;
            for (var i=0;i<ndl;i++){
                sku[i] = new Array();
                sku[i]['id'] = $(this).find('.nd:eq('+i+')').find('.skuid').val();
                sku[i]['name'] = $(this).find('.nd:eq('+i+')').find('.skuname').val();
                doSku(sku[i],sku_i);
            }            
        });
    }
    addSku();
    function doSku(Arr,sku_key){
        if(final_sku){
            if(final_sku[sku_key]){
                var isin = 0;
                for(var i in final_sku[sku_key]){
                    if(final_sku[sku_key][i]['name'] != Arr['name']){
                        isin = 1;
                    }
                }
                if(isin){
                    final_sku[sku_key][(final_sku[sku_key].length)] = Arr;
                    if(!Arr['id'])
                        Arr['is_add'] = 1;
                    final_sku_show[(final_sku_show.length)] = Arr;
                }
            }else{
                final_sku[sku_key] = new Array();
                final_sku[sku_key][0] = new Array();
                final_sku[sku_key][0] = Arr;
            }
            
            for (var i in final_sku) {
                if(i != sku_key){
                    for(var j=0;j<final_sku[i].length;j++){
                        final_sku_show[ni] = new Array();
                        final_sku_show[ni]['id'] = Arr['id']+','+final_sku[i][j]['id'];
                        final_sku_show[ni]['name'] = Arr['name']+' | '+final_sku[i][j]['name'];
                        if(!Arr['id'] || !final_sku[i][j]['id']){
                            final_sku_show[ni]['is_add'] = 1;
                        }
                        ni++;
                    }
                }
            }
        }else{
            final_sku = new Array();
            final_sku[sku_key] = new Array();
            final_sku[sku_key][0] = new Array();
            final_sku[sku_key][0] = Arr;
            if(!Arr['id'])
                Arr['is_add'] = 1;
            final_sku_show[0] = Arr;
        }
        addToSku(final_sku_show);
    }
    function addToSku(finalSku){
        $('#skuVal_add').empty();
        for(var i in finalSku){
            if(finalSku[i]['is_add'] == 1) {
                $('#skuVal_add').append('<div class="dm sk'+i+'" ref="'+i+'">\n' +
                    '<a href="javascript:closeSku('+i+');" class="add_rows">X</a><label class="col-md-2">'+finalSku[i]['name']+' </label>\n' +
                    '<div class="col-md-6">\n' +
                    '<input type="text" name="new_sku[price]['+i+']" value="" class="form-control in" placeholder="价格">\n' +
                    '<input type="text" name="new_sku[stock]['+i+']" value="" class="form-control in" placeholder="库存">\n' +
                    '<input type="hidden" name="new_sku[name]['+i+']" value="'+finalSku[i]['name']+'">\n' +
                    '</div>\n' +
                    '<div style="clear: both"></div>\n' +
                    '</div>');
            }
        }
    }
    function closeSku(sk){
        $('.sk'+sk).remove();
    }
</script>
{/block}