{extend name="base" /}
{block name="header_search"}{/block}
{block name="bg"}style="background:#fff;"{/block}
{block name="center"}
	<header class="header">
		<a href="javascript:window.history.back()" class="header_left"><i class="icon iconfont icon-down"></i></a>
		<div class="header_title">产品列表</div>
	</header>
	<main class="main mgtop">
		<div class="pro_search">
			<a href="{:url('/goods/search')}" class="box"><i class="icon iconfont icon-search"></i>搜名称 关键字</a>
			<a href="{:url('/member/message')}" class="msg"><i class="icon iconfont icon-xiaoxi"></i><span></span></a>
		</div>
		<div class="filter_top">
			<a href="{$auto_url}" {if condition="$sort eq 'sort'"}class="cur"{/if}>默认</a>
			<a href="{$auto_url}&sort=click_num&lift={$lift}" {if condition="$sort eq 'click_num'"}class="cur"{/if}>人气</a>
			<a href="{$auto_url}&sort=sales&lift={$lift}" {if condition="$sort eq 'sales'"}class="cur"{/if}>销量</a>
			<a href="{$auto_url}&sort=price&lift={$lift}" class="jiage {if condition="$sort eq 'price'"}cur{/if}"><span>价格</span></a>
		</div>
		<div class="products list">
			<ul class="clearfix">
				{volist name="goods_list" id="goods"}
				<li>
					<a href="{:url('Goods/detail',['id'=>$goods['id']])}">
						<div class="img"><img src="{$goods.goods_image}"></div>
						<div class="text">
							<h2>{$goods.goods_name}</h2>
							<p>￥{$goods.price}<s>￥{$goods.original_price}</s></p>
						</div>
					</a>
				</li>
				{/volist}
			</ul>
		</div>
	</main>

	<script>
		$(".filter_top a").on("click",function(){
			$(this).addClass("cur").siblings().removeClass("cur");
		});
		$(".filter_top .jiage").on("click",function(){
		   $(this).toggleClass( "cur2" );
		});
		$(".filter_list li").on("click",function(){
		   $(this).toggleClass( "on_select" );
		});
	</script>
{/block}
{block name="footer"}{/block}