{extend name="base" /}
{block name="content"}

{:widget('Component/header',['act_menu'=>'index'])}
	<div class="banner">
		<div class="bd">
			<ul>
				{volist name="flow_img" id="vo"}
				<li><img src="{$vo['img']}"></li>
				{/volist}
			</ul>
		</div>
		<div class="hd"><ul></ul></div>
	</div>
	
	<div class="main">
		<div class="index_num">
			<ul class="w1200 clearfix">
				<li>
					<div class="num"><span>100</span><em>+</em></div>
					<p>产品/组</p>
				</li>
				<li>
					<div class="num"><span>1000</span><em>+</em></div>
					<p>案例/款</p>
				</li>
				<li>
					<div class="num"><span>8</span><em>+</em></div>
					<p>经验/年</p>
				</li>
				<li>
					<div class="num"><span>500</span><em>+</em></div>
					<p>合作伙伴</p>
				</li>
			</ul>
		</div>
		<div class="index_pro">
			<div class="pro_title w1200">
				<h2>安全、稳定、可信赖的工业物联网产品</h2>
				<p>{$product_cate['desc']}</p>
			</div>
			<div class="pro_list w1200 clearfix">
				<div class="hd wow fadeInLeft">
					<ul>
						{volist name="product_cate['link_child']" id="vo"}
						<li>
							<div class="title">
								<h2>{$vo['name']}</h2>
								<p>产品型号齐全</p>
							</div>
						</li>
						{/volist}

					</ul>
				</div>
				<div class="bd wow fadeInRight">
					<div class="conWrap">

						{volist name="product_cate['link_child']" id="vo"}
						<div class="con">
							<p><img src="{$vo['img']}"></p>
							<h2>{$vo['name']}</h2>
							<p>{$vo['desc']}</p>
							<a href="{:url('product/index',['cid'=>$vo['id']])}">查看详情</a>
						</div>
						{/volist}

					</div>
				</div>
			</div>
		</div>
		<div class="index_case w1200">
			<div class="index_title">
				<h2>成功案例</h2>
				<p>{$case_cate['desc']}</p>
			</div>
			<div class="case_left">
				<div class="bd">
					<ul class="picList">
						{volist name="case_cate['link_case']" id="vo"}
						<li>
							<a href="{:url('article/case',['id'=>$vo['id']])}">
								<div class="img"><img src="{$vo['img']}"></div>
								<div class="title">{$vo['name']}</div>
							</a>
						</li>
						{/volist}

					</ul>
				</div>
				<div class="hd">
					<ul></ul>
				</div>
			</div>
		</div>
		<div class="index_solution">
			<div class="index_title w1200">
				<h2>解决方案</h2>
				<p>{$solution_cate['desc']}</p>
			</div>
			<div class="case_tabs">
				<div class="hd w1200">
					<ul class="clearfix">
						{volist name="solution_cate['link_child']" id="vo"}
						<li>
							<i class="icon"><img src="{$vo['icon']}"></i>
							<i class="icon2"><img src="{$vo['icon2']}"></i>
							<p>{$vo['name']}</p>
						</li>
						{/volist}

					</ul>
				</div>
				<div class="bd">
					<div class="conWrap">

						{volist name="solution_cate['link_child']" id="vo"}
						<div class="con">
							<div class="img" style="background-image:url({$vo['img']});"></div>
							<div class="content">
								<div class="text w1200">
									<h2>{$vo['name']}解决方案</h2>
									<p>{$vo['desc']}</p>
									<a href="{:url('article/solution',['id'=>$vo['id']])}">了解更多</a>
								</div>
							</div>
						</div>

						{/volist}

					</div>
				</div>
			</div>
		</div>
		<div class="index_news">
			<div class="index_title w1200">
				<h2>新闻资讯</h2>
				<p>{$news_cate['desc']}</p>
			</div>
			<div class="news_tabs w1200">
				<div class="hd">
					<ul>
						{volist name="news_cate['link_child']" id="vo"}
							<li>{$vo['name']}</li>
						{/volist}
					</ul>
				</div>
				<div class="bd">
					<div class="conWrap">
						{volist name="news_cate['link_child']" id="vo"}
						<div class="con">
							<ul class="clearfix">
								{volist name="vo['link_news']" id="news"}

								<li>
									<a href="{:url('article/newsDetail',['id'=>$news['id']])}">
										<div class="img"><img src="{$news['img']}"></div>
										<div class="title">
											<h2>{$news['title']}</h2>
											<p>时间：{:substr($news['show_time'],0,10)}</p>
										</div>
										<div class="text">
											<p>{$news['intro']}</p>
											<h3>查看详情</h3>
										</div>
									</a>
								</li>
								{/volist}
							</ul>
						</div>
						{/volist}

					</div>
				</div>
			</div>
		</div>
		<div class="index_about">
			<div class="w1200">
				<dl>
					<dt>深圳市华新网络能源有限公司</dt>
					<dd>
						<p>深圳市华新网络能源有限公司，成立于2014年，是一家集设备能源管控平台、暖通空调自控、工业设备互联、工
						<p>厂智能等解决方案设计、工程实施、运营管理于一体的综合节能服务商。深圳华新主要业务范围及服务领域包括设备能源管控系统、工业装备互联</p>
						<p>网接入设备的产品设计开发及智慧工厂解决方案</p> 
						</p>
					</dd>
				</dl>
				<ul class="clearfix">
					<li>
						<div class="num"><span>2014</span><em>年</em></div>
						<p>创建于</p>
					</li>
					<li>
						<div class="num"><span>3000</span><em>家</em></div>
						<p>服务客户</p>
					</li>
					<li>
						<div class="num"><span>99</span><em>%</em></div>
						<p>好评度</p>
					</li>
					<li>
						<div class="num"><span>5</span><em>年</em></div>
						<p>行业经验</p>
					</li>
				</ul>
				<a href="about.html">了解华新智控 &gt;</a>
			</div>
		</div>
	</div>

{:widget('Component/footer',['act_menu'=>'index'])}

{/block}

{block name="script"}
<script type="text/javascript" src="/assets/index/js/wow.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/index/js/jquery.waypoints.min.js"></script>



<script type="text/javascript">
	/* banner切换 */
	jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click",
	});

	/*产品多页签*/
	jQuery(".pro_list").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold",trigger:"click"});

	/*方案多页签*/
	jQuery(".case_tabs").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold",trigger:"click"});

	/*案例滚动*/
	jQuery(".case_left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click",scroll:"4"});

	/*新闻多页签*/
	jQuery(".news_tabs").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold"});
</script>

<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
</script>

<!-- 数字跳动 -->
<script type="text/javascript">
	$('.index_about .num span,.index_num .num span').countUp({
		delay: 10,
		time: 2000
	});

</script>
{/block}
