{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}system,system/setting{/block}

{block name="content"}
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">常规设置</h4>
                    <button type="button" onclick="$.common.submitForm($('#form-normal'),1)" class="col-sm-offset-2 btn btn-sm btn-warning pull-right">保存</button>
                </div>
                <div class="box-body">
                    <form id="form-normal" action="{:url('settingSave')}" class="form-horizontal">
                        <input type="hidden" name="type" value="normal"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="地址" name="content[addr]" value="{:isset($normal_content['addr'])?$normal_content['addr']:''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">客服电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="客服电话" name="content[tel]" value="{:isset($normal_content['tel'])?$normal_content['tel']:''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="email" name="content[email]" value="{:isset($normal_content['email'])?$normal_content['email']:''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">qq</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="qq" name="content[qq]" value="{:isset($normal_content['qq'])?$normal_content['qq']:''}" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">签到奖励养分</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[sign_raise_num]" value="{:isset($normal_content['sign_raise_num'])?$normal_content['sign_raise_num']:'0'}" >
                                <span class="help-block text-red">连续签到奖励积分用逗号分割</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">注册奖励养分</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[reg_raise_num]" value="{:isset($normal_content['reg_raise_num'])?$normal_content['reg_raise_num']:'0'}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">养分兑换比例</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[integral_money]" value="{:isset($normal_content['integral_money'])?$normal_content['integral_money']:'0'}" >
                                <span class="help-block text-red">每100养分可兑换的金额</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邀请奖励养分</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[req_raise_num]" value="{:isset($normal_content['req_raise_num'])?$normal_content['req_raise_num']:'0'}" >
                                <span class="help-block text-red">每邀请一位用户获得养分</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">老用户奖励养分</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[req_f_raise_num]" value="{:isset($normal_content['req_f_raise_num'])?$normal_content['req_f_raise_num']:'0'}" >
                                <span class="help-block text-red">邀请者的邀请者获得养分</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">发布动态</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[dynamic_raise_num]" value="{:isset($normal_content['dynamic_raise_num'])?$normal_content['dynamic_raise_num']:'0'}" >
                                <span class="help-block text-red">用户发布动态获得养分</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发布视频</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[video_raise_num]" value="{:isset($normal_content['video_raise_num'])?$normal_content['video_raise_num']:'0'}" >
                                <span class="help-block text-red">用户每发布视频获得养分</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">报名参加活动</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[activity_raise_num]" value="{:isset($normal_content['activity_raise_num'])?$normal_content['activity_raise_num']:'0'}" >
                                <span class="help-block text-red">用户报名参加活动获得养分</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">健康数据有效更新</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0" name="content[healthy_raise_num]" value="{:isset($normal_content['healthy_raise_num'])?$normal_content['healthy_raise_num']:'0'}" >
                                <span class="help-block text-red">健康数据有效更新获得养分</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备案信息</label>
                            <div class="col-sm-10">
                                <textarea name="content[icp]" class="form-control" rows="5">{:isset($normal_content['icp'])?$normal_content['icp']:''}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <div class="col-sm-6 no-padding">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">其它设置</h4>
                    <button type="button" onclick="$.common.submitForm($('#form-other'),1)" class="col-sm-offset-2 btn btn-sm btn-warning pull-right">保存</button>
                </div>
                <div class="box-body">
                    <form id="form-other" action="{:url('settingSave')}" class="form-horizontal">
                        <input type="hidden" name="type" value="other"/>


                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">产品热门关键字</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<textarea name="content[product_hot_key]" class="form-control" rows="5">{:isset($other_content['product_hot_key'])?$other_content['product_hot_key']:''}</textarea>-->
                                <!--<span class="help-block text-red">一行一个关键字</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">热门视频关键字</label>
                            <div class="col-sm-10">
                                <textarea name="content[video_hot_key]" class="form-control" rows="5">{:isset($other_content['video_hot_key'])?$other_content['video_hot_key']:''}</textarea>
                                <span class="help-block text-red">一行一个关键字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">meta关键字</label>
                            <div class="col-sm-10">
                                <textarea name="content[meta_key]" class="form-control" rows="5">{:isset($other_content['meta_key'])?$other_content['meta_key']:''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">meta描述</label>
                            <div class="col-sm-10">
                                <textarea name="content[meta_desc]" class="form-control" rows="5">{:isset($other_content['meta_desc'])?$other_content['meta_desc']:''}</textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">分享设置</h4>
                    <button type="button" onclick="$.common.submitForm($('#form-share'),1)" class="col-sm-offset-2 btn btn-sm btn-warning pull-right">保存</button>
                </div>
                <div class="box-body">
                    <form id="form-share" action="{:url('settingSave')}" class="form-horizontal">
                        <input type="hidden" name="type" value="share"/>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入分享标题" name="content[title]" value="{:isset($share_content['title'])?$share_content['title']:''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入分享内容" name="content[content]" value="{:isset($share_content['content'])?$share_content['content']:''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分享图片</label>
                            <div class="col-sm-10">
                                <input type="hidden" name="content[img]" value="{:isset($share_content['img'])?$share_content['img']:''}" />
                                <button type="button" class="layui-btn upload-img" lay-data='{:action('upload/info',['type'=>'share_img','is_local'=>1])}'>
                                <i class="layui-icon">&#xe67c;</i>分享图片
                                </button>
                                <img width="80" height="80" src="{:isset($share_content['img'])?$share_content['img']:''}" />
                            </div>
                            <span class="help-block text-red">图片不得大小超过32kb，尺寸控制在150左右</span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{/block}

{block name="script"}
<script>
    //引用上传组件
    layui.use(['upload'],function(){
        var upload = layui.upload;
        $.common.fileUpload(upload,'.upload-img')
    })


</script>
{/block}