{extend name="base" /}
{block name="content"}

{:widget('Component/header',['act_menu'=>'article/technology'])}
<div class="nybanner">
	<p><img src="{$cate['img']}"></p>
</div>

<div class="main">
	<div class="inside_top w1200">
		<div class="title">
			<h2>{$cate['name']}<span>{$cate['en']}</span></h2>
		</div>
		<div class="column clearfix">
			<ul>
				<li class="cur"><a href="support.html">{$cate['name']}</a></li>
			</ul>
			<div class="bread_crumbs">
				<p>您当前的位置：<a href="{:url('index/index')}">首页</a><span>&gt;</span><a href="javascript:;">技术支持</a></p>
			</div>
		</div>
	</div>
	<div class="support w1200">
		<div class="document">
			<div class="title">
				<h2>支持与文档</h2>
				<p>SUPPORT WITH THE DOCUMENT</p>
			</div>
			<ul class="clearfix">
				<li>
					<a href="{:url('resource/index')}">
						<div class="img"><img src="/assets/index/images/icon09.png"></div>
						<div class="text">
							<h3>帮助文档</h3>
							<p>海量产品文档</p>
						</div>
					</a>
				</li>
				<li>
					<a href="tencent://message/?uin={:widget('Component/getSysSetting',['type'=>'normal','field'=>'tel'])}">
						<div class="img"><img src="/assets/index/images/icon10.png"></div>
						<div class="text">
							<h3>在线咨询</h3>
							<p>在线为您解答疑惑</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="img"><img src="/assets/index/images/icon11.png"></div>
						<div class="text">
							<h3>24小时服务热线</h3>
							<p>{:widget('Component/getSysSetting',['type'=>'normal','field'=>'tel'])}</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="img"><img src="/assets/index/images/icon12.png"></div>
						<div class="text">
							<h3>产品咨询 {:widget('Component/getSysSetting',['type'=>'normal','field'=>'product_person'])}</h3>
							<p>{:widget('Component/getSysSetting',['type'=>'normal','field'=>'hot_tel'])}</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="problem">
			<div class="title">
				<h2>常见问题</h2>
				<p>COMMON PROBLEMS</p>
			</div>
			<ul>

				{volist name="problem_list" id="vo"}
				<li>
					<div class="name clearfix">
						<span>Q</span>
						<h2>{$vo['title']}</h2>
					</div>
					<div class="content clearfix">
						<span>A</span>
						<div class="text" style="white-space: pre-wrap;word-wrap: break-word; word-break: break-all;"> {$vo['content']} </div>
					</div>
				</li>
				{/volist}
			</ul>
		</div>
		<div class="service">
			<div class="title">
				<h2>服务保障</h2>
				<p>SERVICE GUARANTEE</p>
			</div>
			<ul class="clearfix">
				<li>
					<i class="icon"><img src="/assets/index/images/icon13.png"></i>
					<h2>一站式服务理念</h2>
					<p>根据客户的需求，帮助选择合适的空调机型网关</p>
				</li>
				<li>
					<i class="icon"><img src="/assets/index/images/icon14.png"></i>
					<h2>满足个性化服务需求</h2>
					<p>配合客户通过所需要的相关测试，提供相应技术资料</p>
				</li>
				<li>
					<i class="icon"><img src="/assets/index/images/icon15.png"></i>
					<h2>严格的产品质量要求</h2>
					<p>每一种产品都有对应的检测方案和检测标准，对不同客户的产品还会依据客户特殊要求进行检测</p>
				</li>
				<li>
					<i class="icon"><img src="/assets/index/images/icon16.png"></i>
					<h2>积极服务每一位</h2>
					<p>对客户提出的问题24小时内予以解决</p>
				</li>
			</ul>
		</div>
	</div>
</div>
{:widget('Component/footer',['act_menu'=>'product/index'])}
{/block}

{block name="script"}
<script>
	$(document).ready(function(){
		$(".problem .name").click(function(){
			$(this).siblings().slideToggle("slow");
			$(this).parent().siblings().children(".content").slideUp("slow");
			$(this).toggleClass("cur");
			$(this).parent().siblings().children(".name").removeClass("cur");
		});
	});
</script>
{/block}