<!DOCTYPE html>
<html lang="CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{block name="title"}{:config('app_name')}{/block}</title>
    <meta name="keywords" content="{block name='meta_key'}{:widget('Component/getSysSetting',['type'=>'other','field'=>'meta_key'])}{/block}" />
    <meta name="description" content="{block name='meta_desc'}{:widget('Component/getSysSetting',['type'=>'other','field'=>'meta_desc'])}{/block}" />
    <link rel="shortcut icon" href="/assets/index/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/index/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/index/css/css.css"/>
    <script type="text/javascript" src="/assets/index/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/assets/index/js/jquery.SuperSlide.2.1.1.js"></script>
    <meta name="author" content="深圳市深正互联网络有限公司"/>
</head>
{block name="style"}{/block}
<body>
{block name="content"}{/block}

</body>
</html>

{block name="script"}{/block}