{extend name="base" /}
{block name="header_search"}{/block}
{block name="center"}
{if condition="$type eq 'phone'"}
	<header class="header">
		<a href="javascript:window.history.back()" class="header_left"><i class="icon iconfont icon-down"></i></a>
		<div class="header_title">换绑手机</div>
	</header>

	<main class="main mgtop"  id="old_phone">
		<div class="modify_phone">
			<p>
				<label>手机号</label>
				<input type="text" name="" readonly="readonly" value="{$member.phone}">
				<button class="obtain" onclick="sendemail('old_phone',parseInt({$member.phone}));">获取验证码</button>
			</p>
			<p>
				<label>验证码</label>
				<input type="text" name="" id="first_code" placeholder="请输入验证码">
			</p>
			<div class="phone_btn"><a href="javascript:;" onclick="nextChange(parseInt({$member.phone}));">验证后绑定新手机</a></div>
		</div>
	</main>

	<main class="main mgtop" id="new_phone" style="display: none;">
		<div class="modify_phone">
			<p>
				<label>手机号</label>
				<input type="text" name="" id="phone" placeholder="请输入新手机号码">
				<button class="obtain" onclick="sendemail('new_phone',$('#phone').val());">获取验证码</button>
			</p>
			<p>
				<label>验证码</label>
				<input type="text" name="" id="code" placeholder="请输入验证码">
			</p>
			<div class="phone_btn"><a href="javascript:;" onclick="toChangePhone();">验证后绑定新手机</a></div>
		</div>
	</main>
	<script type="text/javascript">
		var countdown=60; 
		function sendemail(ids,phone){
		    if(!phone){
				return false;
			}
			$.ajax({
				url:'{:url("Index/sendSms")}', 
				data:{'phone':phone,'type':1},
				dataType:'json',
				type:'post', 
				success:function (e){
					if(e.code){
			    		var obj = $('#'+ids).find(".obtain");
		    			settime(obj);
			    	}else{
			    		alert(e.msg);
			    	}
			    }
		    })
		}
		function settime(obj) { //发送验证码倒计时
		    if (countdown == 0) { 
		        obj.attr('disabled',false); 
		        //obj.removeattr("disabled"); 
		        obj.text("获取验证码");
		        countdown = 60; 
		        obj.css("background","");
		        return;
		    } else { 
		        obj.attr('disabled',true);
		        obj.text("重新发送(" + countdown + ")");
		        countdown--; 
		        obj.css("background","#666");
		    } 
			setTimeout(function() { 
		    	settime(obj) }
		    ,1000) 
		}
		/*下一步*/
		function nextChange(phone){
			$.ajax({
		  		url:"{:url('Member/checkuser')}", 
		  		data:{"phone":phone,'code':$('#first_code').val()}, 
				dataType:'json',
				type:'post', 
				success:function (re){
			  		if(re.code){
			  			$("#old_phone").hide();
						$("#new_phone").show();
			  		}else{
			  			alert(re.msg);
			  		}
			  	}	
		  	})
		}

		function toChangePhone(){
			var phone = $('#phone').val();
			if(phone.length != 11){
				return false;
			}
			$.ajax({
		  		url:"{:url('Member/mysafe')}", 
		  		data:{"phone":phone,'code':$('#code').val(),'type':'phone'}, 
				dataType:'json',
				type:'post', 
				success:function (re){
			  		if(re.code){
			  			alert('已修改，请用新手机号重新登录');
			  			history.go(0);
			  		}else{
			  			alert(re.msg);
			  		}
			  	}	
		  	})
		}
	</script>
{elseif condition="$type eq 'pass'"}
	<header class="header">
		<a href="javascript:window.history.back()" class="header_left"><i class="icon iconfont icon-down"></i></a>
		<div class="header_title">修改密码</div>
	</header>

	<main class="main mgtop">
		<div class="modify_pwd">
			<p><input type="password" id="old_password" name="" placeholder="请输入旧密码"></p>
			<p><input type="password" id="new_password" name="" placeholder="请输入新密码"></p>
			<p><input type="password" id="con_password" name="" placeholder="请再次输入新密码"></p>
			<div class="modify_pwd_btn"><input type="submit" name="" onclick="toChangePass();"></div>
		</div>
	</main>
	<script type="text/javascript">
		function toChangePass(){
			var old_password = $('#old_password').val();
			var new_password = $('#new_password').val();
			var con_password = $('#con_password').val();
			if(!old_password || !new_password || !con_password){
				return false;
			}
			if(new_password != con_password){
				return false;
			}
			$.ajax({
		  		url:"{:url('Member/mysafe')}", 
		  		data:{"old_password":old_password,'new_password':new_password,'type':'pass'}, 
				dataType:'json',
				type:'post', 
				success:function (re){
			  		if(re.code){
			  			alert('已修改，请重新登录');
			  			history.go(0);
			  		}else{
			  			alert(re.msg);
			  		}
			  	}	
		  	})
		}
	</script>
{/if}
{/block}
{block name="footer"}{/block}