{extend name="base" /}

{block name="content"}

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="col-sm-3">
            <!--<a class="btn btn-sm btn-adn" href="{:url('goodsAdd')}">添加商品</a>-->
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped" id="layer-photos-demo">
            <thead>
            <tr>
                <th width="20">#</th>
                <th width="70">退款单号</th>
                <th width="120">退货人信息</th>
                <th width="50">退款价格</th>
                <th width="80">状态</th>
                <th width="80">申请时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.no}</td>
                <td>{$vo['own_addrs']['username']}<br/>{$vo['own_addrs']['phone']}<br/>{$vo['own_addrs']['addr']} {$vo['own_addrs']['addr_extra']}</td>
                <td>{$vo.money}</td>
                <td>{if($vo['own_return']['state'])}{:\\app\\common\\model\\OrderReturn::getPropInfo('fields_state',$vo['own_return']['state'])}{/if}</td>
                <td>{:$vo['own_return']['create_time']}</td>
                <td>
                    <a class="layui-btn layui-btn-sm" href="{:url('returnDetail',['id'=>$vo['id']])}">编辑</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        {$page|raw}
    </div>
</div>
<!-- /.error-page -->
{/block}