{extend name="public" /}

{block name="show_cate"}1{/block}


{block name="content"}
<div class="banner">
    <div class="bd">
        <ul>
            {volist name="banner" id="bv"}
            <li><img src="{$bv.img}"></li>
            {/volist}
        </ul>
    </div>
    <div class="hd"><ul></ul></div>
</div>

<div class="main">
    <div class="advertising w1200 clearfix">
        {if($goods['bg'])}
        {if($goods['bg_left'])}<div class="img"><a href="{:url('Goods/detail',['id'=>$goods['bg_left']['id']])}"><img src="{$goods['bg_left']['zd_img']}"></a></div>{/if}
        <ul class="clearfix">
            {volist name="goods.bg" id="bg_goods" key="bk"}
            <li><a href="{:url('Goods/detail',['id'=>$bg_goods['id']])}"><img src="{$bg_goods.zd_img}"></a></li>
            {/volist}
            <li>
                <a href="javascript:;"><img src="/assets/index/images/adv07.jpg"></a>
                <a href="javascript:;"><img src="/assets/index/images/adv08.jpg"></a>
            </li>
        </ul>
        {/if}
    </div>
    <div class="see_today w1200">
        <div class="parHd">
            <h2>今日必看</h2>
            <ul>
                <li>新品推荐</li>
                <li>特价促销</li>
                <li>人气热卖</li>
                <li>今日特惠</li>
            </ul>
        </div>
        <div class="parBd">

            <div class="slideBox">
                <ul>
                    {volist name="goods.new" id="goods_new"}
                    <li><a href="{:url('Goods/detail',['id'=>$goods_new['id']])}"><img src="{$goods_new.goods_image}"><span>{$goods_new.goods_name}</span></a></li>
                    {/volist}
                </ul>
            </div><!-- slideBox End -->

            <div class="slideBox">
                <ul>
                    {volist name="goods.special" id="goods_special"}
                    <li><a href="{:url('Goods/detail',['id'=>$goods_special['id']])}"><img src="{$goods_special.goods_image}"><span>{$goods_special.goods_name}</span></a></li>
                    {/volist}
                </ul>
            </div><!-- slideBox End -->

            <div class="slideBox">
                <ul>
                    {volist name="goods.hot" id="goods_hot"}
                    <li><a href="{:url('Goods/detail',['id'=>$goods_hot['id']])}"><img src="{$goods_hot.goods_image}"><span>{$goods_hot.goods_name}</span></a></li>
                    {/volist}
                </ul>
            </div><!-- slideBox End -->

            <div class="slideBox">
                <ul>
                    {volist name="goods.today" id="goods_today"}
                    <li>
                        <a href="{:url('Goods/detail',['id'=>$goods_today['id']])}">
                            <img src="{$goods_today.goods_image}">
                            <span>{$goods_today.goods_name}</span>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div><!-- slideBox End -->

        </div><!-- parBd End -->
    </div>
    {volist name="cate_goods" id="cg" key="k"}
    <div class="index_pro w1200">
        <div class="title">
            <h2>{$cg.cate_name}</h2>
            <p>{$cg.desc}</p>
        </div>
        <div class="content clearfix">
            {if condition="$k%2"}
            <div class="left">
                {volist name="cg.goods_list" id="lg" key="lk"}
                {if condition="$lk elt 2"}
                <a href="{:url('Goods/detail',['id'=>$lg['id']])}"><img src="{$lg.tuijian_img}"></a>
                {/if}
                {/volist}
            </div>
            <div class="right">
                <p><a href="{:url('Goods/goods_list',['cate_id'=>$cg['id']])}"><img src="{$cg.image}"></a></p>
                <ul>
                    {volist name="cg.goods_list" id="rg" key="rk"}
                    {if condition="$rk egt 3"}
                    <li><a href="{:url('Goods/detail',['id'=>$rg['id']])}"><img src="{$rg.tuijian_img}"></a></li>
                    {/if}
                    {/volist}
                </ul>
            </div>
            {else/}
            <div class="right">
                <p><a href="{:url('Goods/goods_list',['cate_id'=>$cg['id']])}"><img src="{$cg.image}"></a></p>
                <ul>
                    {volist name="cg.goods_list" id="rgs" key="rks"}
                    {if condition="$rks elt 3"}
                    <li><a href="{:url('Goods/detail',['id'=>$rgs['id']])}"><img src="{$rgs.tuijian_img}"></a></li>
                    {/if}
                    {/volist}
                </ul>
            </div>
            <div class="left">
                {volist name="cg.goods_list" id="lgs" key="lks"}
                {if condition="$lks egt 4"}
                <a href="{:url('Goods/detail',['id'=>$lgs['id']])}"><img src="{$lgs.tuijian_img}"></a>
                {/if}
                {/volist}
            </div>
            {/if}
        </div>
    </div>
    {/volist}
</div>
    <script type="text/javascript">
        /* 调用SuperSlide */
        jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click",
        });

        /*产品切换*/
        /* 内层图片无缝滚动 */
        jQuery(".see_today .slideBox").slide({ mainCell:"ul",vis:5,prevCell:".sPrev",nextCell:".sNext",effect:"leftMarquee",interTime:50,autoPlay:true,trigger:"click"});

        /* 外层tab切换 */
        jQuery(".see_today").slide({titCell:".parHd li",mainCell:".parBd"});
    </script>
{/block}