{extend name="login_reg" /}
{block name="title"}{:config('app_name')} _ 注册{/block}
{block name="header_right"}
<div class="right">
	<p>已有账号？<a href="{:url('Index/login')}">去登录&gt;</a></p>
</div>
{/block}
{block name="content"}
{if condition="$step eq 1"}
	<div class="main">
		<div class="login">
			<div class="reg_step">
				<ul class="clearfix">
					<li class="cur">
						<h3>1</h3>
						<p>手机注册</p>
					</li>
					<li>
						<h3>2</h3>
						<p>填写账户信息</p>
					</li>
					<li>
						<h3>3</h3>
						<p>注册成功</p>
					</li>
				</ul>
			</div>
			<div class="login_box">
				<form id="toForm" action="{:url('Index/register')}" tz_url="{:url('Index/register2')}">
					<div class="box">
						<i class="icon"><img src="/assets/index/images/icon21.png"></i>
						<input type="text" name="phone" class="requires" placeholder="请输入手机号">
					</div>
					<div class="box">
						<i class="icon"><img src="/assets/index/images/icon22.png"></i>
						<input type="text" name="code" class="code requires" placeholder="请输入验证码">
						<button type="button" class="obtain" onclick="sendemail()">获取短信验证码</button>
					</div>
					<div class="btn"><input type="submit" name="" value="下一步"></div>
					<div class="protocol"><input type="checkbox" id="agree" name="" value="1"><label for="agree">我已阅读并同意</label><a href="/Article/index/id/28.html">《养众网用户协议》</a></div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		/*点击用户协议*/
		$(".login .protocol input").click(function(){
			$(this).toggleClass("cur");
		});
		//-- 验证码倒计时 --
		var countdown=60; 
		function sendemail(){
			var phone = $('input[name=phone]').val();
			if(phone.length != 11){
				return false;
			}
			$.ajax({
				url:'{:url("Index/sendSms")}', 
				data:{'phone':phone,'type':2},
				dataType:'json',
				type:'post', 
				success:function (e){
					if(e.code){
			    		var obj = $(".obtain");
			    		settime(obj);
			    	}else{
			    		alert(e.msg);
			    	}
			    }
		    })
		}
		function settime(obj) { //发送验证码倒计时
		    if (countdown == 0) { 
		        obj.attr('disabled',false); 
		        obj.text("获取短信验证码");
		        countdown = 60; 
		        obj.css("background","");
		        return;
		    } else { 
		        obj.attr('disabled',true);
		        obj.text("重新发送(" + countdown + ")");
		        countdown--; 
		        obj.css("background","#999");
		    } 
			setTimeout(function() { 
		    	settime(obj) }
		    ,1000) 
		}
	</script>
{elseif condition="$step eq 2"}
	<div class="main">
		<div class="login">
			<div class="reg_step">
				<ul class="clearfix">
					<li class="cur">
						<h3>1</h3>
						<p>手机注册</p>
					</li>
					<li class="cur">
						<h3>2</h3>
						<p>填写账户信息</p>
					</li>
					<li>
						<h3>3</h3>
						<p>注册成功</p>
					</li>
				</ul>
			</div>
			<div class="login_box">
				<form id="toForm" action="{:url('Index/register2')}" tz_url="{:url('Index/register3')}">
					<input type="hidden" name="phone" value="{$Think.session.reg_info.phone}">
					<input type="hidden" name="verify" value="{$Think.session.reg_info.code}">
					<div class="box">
						<i class="icon"><img src="/assets/index/images/icon21.png"></i>
						<input type="text" name="name" class="requires" placeholder="请输入用户名">
					</div>
					<div class="box">
						<i class="icon"><img src="/assets/index/images/icon22.png"></i>
						<input type="password" name="password" class="requires" placeholder="请设置密码">
					</div>
					<div class="box">
						<i class="icon"><img src="/assets/index/images/icon22.png"></i>
						<input type="password" name="confirm_password" class="requires" placeholder="请再次输入密码">
					</div>
					<div class="btn"><input type="submit" name="" value="下一步"></div>
				</form>
			</div>
		</div>
	</div>
{elseif condition="$step eq 3"}
	<div class="main">
		<div class="login">
			<div class="reg_step">
				<ul class="clearfix">
					<li class="cur">
						<h3>1</h3>
						<p>手机注册</p>
					</li>
					<li class="cur">
						<h3>2</h3>
						<p>填写账户信息</p>
					</li>
					<li class="cur">
						<h3>3</h3>
						<p>注册成功</p>
					</li>
				</ul>
			</div>
			<div class="login_box">
				<div class="success"><span>恭喜您注册成功</span></div>
			</div>
		</div>
	</div>
{/if}
	<script type="text/javascript">
		$("#toForm").submit(function(){
			var _this = $(this);
				var flag = true;
			$('form .requires').each(function (k, v){
			    if($(this).val() == ''){				    
			      flag = false;
			      $(this).focus();
			    }
		  	});
		  	if(!flag){
		    	return false;
		  	}
            {if condition="$step eq 1"}
		  	if($("#agree")){
		  	    if(!$("#agree").attr('class')){
		  	        console.log(11);
                    return false;
				}
			}
			{/if}
		  	var url = _this.attr('action');
		  	var tz_url = _this.attr('tz_url');
		  	var data = _this.serialize();
		  	$.ajax({
		  		url:url, 
		  		data:data, 
				dataType:'json',
				type:'post', 
				success:function (re){
			  		if(re.code){
			  			window.location.href= tz_url;
			  		}else{
			  			alert(re.msg);
			  		}
			  	}	
		  	})
		  	return false;
		})
	</script>	
{/block}