{extend name="member" /}
{block name="member_content"}
			<div class="personal_content">
				<h2>我的订单</h2>
				<div class="orders">
					<div class="orders_sort clearfix">
						<a href="" {if($status)}{else}class="cur"{/if}>所有订单</a>
						<a href="">待付款</a>
						<a href="">待发货</a>
						<a href="">待收货</a>
						<a href="">待评价</a>
						<a href="">已完成</a>
						<a href="">已取消</a>
					</div>
					<div class="orders_title clearfix">
						<div class="det">商品详情</div>
						<div class="receiver">收货人</div>
						<div class="num">数量</div>
						<div class="yuan">实付款/元</div>
						<div class="status">订单状态</div>
						<div class="operating">交易操作</div>
					</div>
					<div class="orders_air" style="display: none;">
						<img src="/assets/index/images/air01.jpg"><span>您还没有购买任何产品，快去挑选合适的产品吧~</span>
					</div>
					<ul>
						{volist name="order_list" id="order"}
						<li>
							<div class="orders_number"><span>下单时间：{:$order.create_time} </span><span>订单编号：{$order.no}</span></div>
							<div class="orders_content clearfix">
								<div class="det">
									{volist name="order.own_goods" id="child"}
									<a href="products_det.html">
										<div class="pro_img"><img src="{$child.img}"></div>
										<div class="pro_name">{$child.name}</div>
									</a>
									{/volist}
								</div>
								<div class="receiver">容景</div>
								<div class="num">X1</div>
								<div class="yuan">￥{$order.money}</div>
								<div class="status">
									<p>
									{if condition="!$order.pay_time"}
									等待付款
									{elseif condition="!$order.send_start_time"}
									已付款，待发货
									{elseif condition="!$order.receive_start_time"}
									已发货，待收货
									{elseif condition="!$order.complete_time"}
									待评价
									{elseif condition="$order.cancel_time"}
									已取消
									{else/}
									已完成
									{/if}
									</p>
									<a href="orders_det.html">订单详情</a>
								</div>
								<div class="operating">
									<div class="operating_content">
										{if condition="!$order.pay_time"}
											<a href="/Order/payorder?order_id={$orer.id}" class="fukuan orange">立即付款</a>
											<a href="javascript:;" class="cancel_order">取消订单</a>
										{elseif condition="!$order.send_start_time"}
											<a href="javascript:;" class="tixing orange_bg">提醒发货</a>
										{elseif condition="!$order.receive_start_time"}
											<a href="javascript:;" class="confirm orange_bg">确认收货</a>
											<a href="javascript:;" class="sqth">申请退货</a>
										{elseif condition="!$order.complete_time"}	
											<a href="evaluation.html" class="orange">去评价</a>
										{/if}
									</div>
								</div>
							</div>
						</li>
						{/volist}
					</ul>
					<div class="page">
						<div class="page_num clearfix">
							{$page}
		                </div>
					</div>
				</div>
			</div>
{/block}

{block name="member_footer"}
	<div class="tips cancel_popup">
		<div class="tips_title"><strong>温馨提示</strong><span class="tips_close"><i class="icon iconfont icon-cuo"></i></span></div>
		<div class="tips_content"><img src="/assets/index/images/icon25.jpg"><span>您确定要取消订单吗？</span></div>
		<div class="tips_bottom clearfix">
			<a href="javascript:;" class="quxiao tips_close">取消</a>
			<a href="orders.html" class="define">确定</a>
		</div>
	</div>

	<div class="tips return_popup">
		<div class="tips_title"><strong>温馨提示</strong><span class="tips_close"><i class="icon iconfont icon-cuo"></i></span></div>
		<div class="tips_content"><img src="/assets/index/images/icon25.jpg"><span>您确定要申请退货吗？</span></div>
		<div class="tips_bottom clearfix">
			<a href="javascript:;" class="quxiao tips_close">取消</a>
			<a href="javascript:;" class="define tips_close">确定</a>
		</div>
	</div>

	<div class="tips confirm_popup">
		<div class="tips_title"><strong>温馨提示</strong><span class="tips_close"><i class="icon iconfont icon-cuo"></i></span></div>
		<div class="tips_content"><img src="/assets/index/images/icon25.jpg"><span>您确定要确认收货吗？</span></div>
		<div class="tips_bottom clearfix">
			<a href="javascript:;" class="quxiao tips_close">取消</a>
			<a href="orders.html" class="define">确定</a>
		</div>
	</div>

	<div class="tips remind_popup">
		<div class="tips_title"><strong>温馨提示</strong><span class="tips_close"><i class="icon iconfont icon-cuo"></i></span></div>
		<div class="tips_content"><img src="/assets/index/images/icon16.jpg"><span>提醒发货成功</span></div>
		<div class="tips_bottom clearfix">
			<a href="javascript:;" class="define tips_close">确定</a>
		</div>
	</div>

	<!-- 弹框提示 -->
	<script type="text/javascript">
	    $(function(){

	    	/*取消订单*/
	        $('.orders .cancel_order').click(function(){
	            $('.cancel_popup').show();
	            $("body").append("<div class='tips_bg'></div>");
	        });

	        /*申请退货*/
	        $('.orders .sqth').click(function(){
	            $('.return_popup').show();
	            $("body").append("<div class='tips_bg'></div>");
	        });

	        /*确认收货*/
	        $('.orders .confirm').click(function(){
	            $('.confirm_popup').show();
	            $("body").append("<div class='tips_bg'></div>");
	        });

	        /*提醒发货*/
	        $('.orders .tixing').click(function(){
	            $('.remind_popup').show();
	            $("body").append("<div class='tips_bg'></div>");
	        });
	        
	        /*关闭弹窗*/
	        $('.tips_close').click(function(){
	            $('.confirm_popup').hide();
	            $('.return_popup').hide();
	            $('.remind_popup').hide();
	            $('.cancel_popup').hide();
	            $(".tips_bg").remove();
	        });

	    	
	    });

	</script>
{/block}