{extend name="base" /}


{block name="content"}

    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="col-sm-1">
                <a class="btn btn-sm btn-adn" href="{:url('activityAdd')}">添加活动</a>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <a href="{:url('')}" class="btn  {:empty($auth_state)?'btn-primary':'btn-success'} btn-flat">全部</a>
                    <a href="{:url('',['auth_state'=>1])}" class="btn {:$auth_state==1?'btn-primary':'btn-success'} btn-flat">待审核</a>
                    <a href="{:url('',['auth_state'=>2])}" class="btn {:$auth_state==2?'btn-primary':'btn-success'} btn-flat">审核被拒</a>
                </div>
            </div>

            <div class="col-sm-9">
                <form class="input-group  col-sm-4">
                    <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-info btn-flat">搜索</button>
                    </span>
                </form>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body no-padding">
                <table class="table table-striped" id="layer-photos-demo">
                    <thead>
                        <tr>
                            <th width="20">#</th>
                            <th width="80">用户名</th>
                            <th width="200">活动标题</th>
                            <th width="80">浏览次数</th>
                            <th width="80">参与人数</th>
                            <th width="80">发布时间</th>
                            <th width="60">状态</th>
                            <th width="120">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$i}</td>
                        <td>{$vo['link_users']['name']}</td>
                        <td>{$vo['title']}</td>
                        <td>{$vo['views']}</td>
                        <td>0</td>
                        <td>{$vo['create_time']}</td>
                        <td>{:$vo->status_intro}</td>
                        <td>
                            {if(empty($vo['is_auth']))}
                                <a class="layui-btn layui-btn-normal layui-btn-sm" href="javascript:;" onclick="handleAuth(this,{$vo['id']})">审核</a>
                            {/if}

                            <a class="layui-btn layui-btn-sm" href="{:url('activityAdd',['id'=>$vo['id']])}">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" onclick="$.common.waitConfirm('是否删除该条数据?','{:url("activityDel",["id"=>$vo["id"]])}')" class="ml-5">  删除</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                {$page|raw}
            </div>
        </form>
    </div>
    <!-- /.error-page -->

<div class="form-group" id="auth-block" style="display: none;">
    <div class="col-sm-12">
        <textarea name="content" rows="5" placeholder="请输入审核内容.." class="form-control"></textarea>
    </div>
</div>

{/block}
{block name="script"}
<script>
    layui.use(['layer'],function(){
        layui.layer.photos({
            photos: '#layer-photos-demo'
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    })


    function handleAuth(obj,id){
        var layer_index = layer.open({
            type:1,
            title:'审核',
            content:$('#auth-block'),
            area:['300px','250px'],
            btn:['通过','拒绝'],
            yes:function(index, layero){
                //按钮【按钮一】的回调
                var content = $("#auth-block textarea[name='content']").val()
                $.common.waitConfirm('确定通过审核?',"{:url('article/auth')}",{type:'activity',id:id,state:1,content:content},'post',(res)=>{
                    if(res.code===1){
                        setTimeout(function(){location.reload()},1000)
                    }

                })

            }
            ,btn2:function(index){
                var content = $("#auth-block textarea[name='content']").val()
                $.common.waitConfirm('确定拒绝通过审核?',"{:url('article/auth')}",{type:'activity',id:id,state:2,content:content},'post',(res)=>{
                    if(res.code===1){
                        setTimeout(function(){location.reload()},1000)
                    }
                })

            }
        })
    }
</script>
{/block}