{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}system,system/flowImg{/block}

{block name="content"}

    <div class="box box-primary">
        <div class="box-header with-border">
            <a class="layui-btn layui-btn-sm" href="{:url('imageAdd')}">添加轮播图</a>
            <div class="col-sm-offset-2 inline">
                <div class="btn-group">
                        <a class="btn  btn-sm  {:$t_id==''?'btn-primary':'btn-default'}" href="{:url('')}">全部</a>
                    {foreach \app\common\model\Ad::getPropInfo('fields_type')  as $key=>$vo}
                        <a class="btn  btn-sm  {:$t_id==$key?(is_numeric($t_id)?'btn-primary':'btn-default'):'btn-default'}" href="{:url('',['t_id'=>$key])}">{$vo['name']}</a>
                    {/foreach}
                </div>

            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
            <div class="box-body no-padding">
                <table class="table table-striped" id="layer-photos-demo">
                    <thead>
                        <tr>
                            <th width="20">#</th>
                            <th width="80">类型</th>
                            <th width="80">标题</th>
                            <th width="100">图片</th>
                            <th width="80">跳转地址</th>
                            <th width="120">更新时间</th>
                            <th width="60">状态</th>
                            <th width="120">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{$i}</td>
                            <td>{:\\app\\common\\model\\Ad::getPropInfo('fields_type',$vo['type'],'name')}</td>
                            <td>{$vo['title']}</td>
                            <td><img src="{$vo['img']}" width="80" height="80" alt="{$vo['title']}"></td>
                            <td>{$vo['url']}</td>
                            <td>{$vo['update_time']}</td>
                            <td>{:\\app\\common\\model\\Ad::getPropInfo('fields_status',$vo['status'])}</td>
                            <td>
                                <a class="layui-btn layui-btn-sm" href="{:url('imageAdd',['id'=>$vo['id']])}">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" onclick="$.common.waitConfirm('是否删除该条数据?','{:url("imageDel",["id"=>$vo["id"]])}')" class="ml-5">  删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                {$page|raw}
            </div>
    </div>
    <!-- /.error-page -->
{/block}
{block name="script"}
<script>
    layui.use(['layer'],function(){
        layui.layer.photos({
            photos: '#layer-photos-demo'
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    })
</script>
{/block}