<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone = no" />
    <title>{block name="title"}{:config('app_name')}{/block}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="深圳市深正互联网络有限公司" />
    <script type="text/javascript" src="/assets/index/mobile/js/jquery-1.11.0.min.js"></script>
</head>
<body>
    {$content|raw}
</body>
</html>