{extend name="base" /}
{block name="center"}
	<div class="slider-wrap slider-wrap-banner mgtop">
		<div class="swiper-container swiper-container-banner" >
			<div class="swiper-wrapper">
				{volist name="banner" id="bv"}
			   	<div class="swiper-slide"><img src="{$bv.img}" /></div>
			   	{/volist}
			</div>
			<div class="pagination banner-pagination" id="pagination"></div>
		</div>
	</div>
	<main class="main wrapper">
		<div class="index_sort">
			<ul class="clearfix">
				{volist name="$tuijianCate" id="cate"}
				<li><a href="{:url('Goods/goods_list',['cate_id'=>$cate['id']])}"><img src="{$cate.image}"><span>{$cate.cate_name}</span></a></li>
				{/volist}
			</ul>
		</div>
		<div class="products">
			<div class="title">精品推荐</div>
			<ul class="clearfix">
				{volist name="goods.new" id="g"}
				<li>
					<a href="{:url('Goods/detail',['id'=>$g['id']])}">
						<div class="img"><img src="{$g.goods_image}"></div>
						<div class="text">
							<h2>{$g.goods_name}</h2>
							<p>￥{$g.price}<s>￥{$g.original_price}</s></p>
						</div>
					</a>
				</li>
				{/volist}
			</ul>
		</div>
	</main>

	<link rel="stylesheet" type="text/css" href="/assets/index/mobile/css/swiper.min.css">
	<script src="/assets/index/mobile/js/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		//banner
		var swiper = new Swiper('.swiper-container-banner',{
	   	pagination: '.banner-pagination',
	   	paginationClickable: true,
	   	loop: true,
        autoplay:3000,
	  	});

	</script>
{/block}